<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <style>
        body {
            background-color: rgb(255, 255, 255);
        }
        img{
            display: block;
            margin-bottom: 10px;
            width: 100%;
        }
        img:hover {
            transform: scale(1.01);
        }
        .layout-container{
         width: min(1000px, 100%);
         margin: 0 auto;
         columns: 3 300px;
         column-gap: 10px;
        }
    </style>
</head>
<body>
    <div class="layout-container">
    <img width="300px" src="/pictures/test1.png">
    <img width="300px" src="/pictures/test2.png">
    <img width="300px" src="/pictures/test3.png">
    <img width="300px" src="/pictures/test4.png">
    <img width="300px" src="/pictures/test5.png">
    <img width="300px" src="/pictures/test6.png">
    <img width="300px" src="/pictures/test7.png">
    <img width="300px" src="/pictures/test8.png">
    <img width="300px" src="/pictures/test9.png">
    <img width="300px" src="/pictures/test10.png">
    <img width="300px" src="/pictures/test11.png">
    <img width="300px" src="/pictures/test12.png">
    <img width="300px" src="/pictures/test13.png">
    <img width="300px" src="/pictures/test14.png">
    <img width="300px" src="/pictures/test15.png">
    <img width="300px" src="/pictures/test16.png">
    <img width="300px" src="/pictures/test17.png">
    <img width="300px" src="/pictures/test18.png">
    <img width="300px" src="/pictures/test19.png">
    </div>
</body>
</html>